
<h3> View Account Details</h3>
<div>
    <div>
        <label> <b> Account Id: </b></label> {{account.accountId}}
    </div>
    <div>
        <label> <b> Name: </b></label> {{account.name}}
    </div>
    <div>
        <label> <b> Balance: </b></label> {{account.balance}}
    </div>
    <div>
        <label> <b> DOB: </b></label> {{account.dob}}
    </div>
    <div>
        <label> <b> AccountCreationDate: </b></label> {{account.accountCreationDate}}
    </div>
    <div>
        <label> <b> AccountType: </b></label> {{account.accountType}}
    </div>
    <div>
        <label> <b> Address: </b></label> {{account.address}}
    </div>
    <div>
        <label> <b> City: </b></label> {{account.city}}
    </div>
    <div>
        <label> <b> Phone: </b></label> {{account.phone}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{account.email}}
    </div>
</div>